// Named colors

$gray: #1c1614;
$vibrant-yellow: #ffd300;
$soft-blue: #6887a6;
$purple: #432147;
$amber: #f5b349;

$off-white: #f9f8f7;
$beige: #e8d5b7;
$cool-beige: #e8d5b9;
$space: #0e2430;
$bright-red: #fc3a51;
$gold: #f5b349;
$black: black;

// Semantic Colors

$background: $off-white;
$accent: $beige;
$link-color: $gold;
$title-color: $black;
$text-color: $black;

$background-dark: $black;
$text-color-light: $off-white;
