$listing-heading-size: 1.15em;
$listing-body-size: 1em;

.list {
    font-size: 1rem;
    padding-bottom: 2em;

    &:last-child {
        padding-bottom: 2em;
    }
}

.list__heading {
    font-size: 1.15em;
    font-weight: 400;

    &::before {
        content: '# '
    }
}

.list-container {
    list-style: none;
    padding: 0em;
    padding-top: 1em;
}

.listing-container {
    padding-bottom: 3em;

    &:last-child {
        padding-bottom: 0;
    }
}

.listing {
    padding-left: 10vw;
}

%listing__heading {
    font-size: $listing-heading-size;
    margin: 0;
}

%listing__text {
    font-size: $listing-body-size;
}

%listing__tags {
    color: rgba($color: #000000, $alpha: 0.8)
}

.listing__entity {
    @extend %listing__heading;
    display: inline;

    &::after {
        content: ' / ';
    }
}

.listing__tags {
    @extend %listing__tags;
}

.listing__title {
    display: inline;
    font-weight: 400;
    margin-top: 0;

    &::after {
        content: '.';
    }
}

.listing__start-date {
    margin-right: 0.5em;

    &::after {
        content: ' ->'
    }
}

.listing__dates {
    display: flex;
    text-transform: capitalize;
}

.listing__link {
    text-decoration: none;
    color: $link-color;
    font-style: italic;
    font-size: 0.95em;

    &::after {
        content: ' >'
    }
}

.listing__header {
    display: block;
}

.listing__dates {
    padding-right: 1.25em;
}

.listing__description {
    @extend %listing__text;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

.listing {
    padding: 0;
    margin: 0;
}
