$top-accent-size: 0.5em;

.particle-container {
    border-top-color: $background-dark;
    border-top: $top-accent-size solid;

    // On mobile the particles are much more intrusive, keep them with the
    // header to reduce noise on small screens.
    @media only screen and (max-width: 400px) {
        position: absolute;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.particle-container__particles {
    margin: auto;
}
