@import "tachyons-sass/scss/_variables.scss";

.grid-cell {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media #{$breakpoint-not-small} {
    grid-template-columns: 2fr 3fr;
  }
}

.grid-cell > div:first-child {
  height: 11em;
}
