<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Software Engineer/Data Engineer | Full stack web dev enthusiast."
    />
    <meta property="og:title" content="Andrew Sosa" />
    <meta
      property="og:description"
      content="Software Engineer/Data Engineer | Full stack web dev enthusiast."
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="andrewsosa" />
    <meta name="twitter:title" content="Andrew Sosa" />
    <meta
      name="twitter:description"
      content="Software Engineer/Data Engineer | Full stack web dev enthusiast."
    />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css"
    />
    <link rel="stylesheet" href="https://newcss.net/theme/night.css" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <style>
      main {
        max-width: 40rem;
        margin: 5rem auto 0;
      }

      blockquote h2 {
        padding-top: 0;
      }

      @media only screen and (max-width: 600px) {
        main blockquote {
          margin: 0 -2rem;
        }
      }
    </style>

    <!-- Title -->
    <title>{{ site.title }}</title>

    <!-- Panelbear Analytics - We respect your privacy -->
    <script
      async
      src="https://cdn.panelbear.com/analytics.js?site=GlLjdCAVeVU"
    ></script>
    <script>
      window.panelbear =
        window.panelbear ||
        function() {
          (window.panelbear.q = window.panelbear.q || []).push(arguments);
        };
      panelbear("config", { site: "GlLjdCAVeVU" });
    </script>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
