main {
  margin-top: 5rem;
}

main h1 {
  font-size: 3rem;
  border-bottom: none;
}

main blockquote h2 {
  padding-top: 0;
}

@media only screen and (max-width: 600px) {
  main blockquote {
    margin: 0 -2rem;
  }
}
