//- base.pug
html
  head
    title Andrew Sosa - #{title}
    block styles
      link(rel="stylesheet", href="./css/bootstrap/bootstrap.min.css")
      link(rel="stylesheet", href="./css/footer.css")
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      include ../includes/favicons.pug
  body
    block content
    block foot
        include ../includes/footer.pug
    block scripts
      script(src='./js/jquery.min.js')
      script(src='./js/bootstrap.min.js')
