#footer.footer
    .footer-menu
        a(href=locals.footer.blog).menu-item Blog
        a(href=locals.footer.contact).menu-item Contact
        img(src="./assets/logo.svg")
        a(href=locals.footer.github).menu-item Github
        a(href=locals.footer.resume).menu-item Resume
    .copyright © Andrew Sosa, 2017. All Rights Reserved.
