@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,700|Montserrat:700|Open+Sans:400,700");
/* -------------------------------------------------------------
 *  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 *  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 *
 *  List of CSS3 Sass Mixins File to be @imported and @included as you need
 *
 *  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 *  ENDING css files
 *
 *  note: All CSS3 Properties are being supported by Safari 5
 *  more info: http://www.findmebyip.com/litmus/#css3-properties
 *
 *------------------------------------------------------------- */
html {
  height: 100%; }

body {
  height: 100%;
  color: #191919;
  line-height: 1.8; }

h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif; }

a {
  color: #E83B3F; }

.container {
  max-width: 1000px; }

.banner-wrap {
  background-color: #E83B3F;
  padding-top: 70px;
  margin-top: -70px;
  position: relative; }
  .banner-wrap .banner-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden; }
    .banner-wrap .banner-bg #splash {
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      opacity: 0.07; }

.banner {
  position: relative;
  text-align: right;
  color: #ffffff; }
  .banner .banner-inner {
    position: absolute;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 768px) {
      .banner .banner-inner {
        position: relative;
        text-align: center; } }
  .banner #andrew {
    font-size: 36px;
    font-family: "Montserrat", sans-serif; }
    @media screen and (min-width: 500px) {
      .banner #andrew {
        font-size: 56px; } }
    @media screen and (min-width: 768px) {
      .banner #andrew {
        font-size: 82px; } }
  .banner #label {
    font-size: 14px;
    font-weight: 300; }
    @media screen and (min-width: 500px) {
      .banner #label {
        font-size: 16px; } }
    @media screen and (min-width: 768px) {
      .banner #label {
        font-size: 26px; } }
  .banner .btn-wrap {
    padding: 40px 0; }
  .banner button {
    font-size: 12px;
    border-radius: 100px;
    padding: 4px 48px;
    font-weight: 700;
    margin-left: 16px;
    margin-bottom: 16px; }
    @media screen and (min-width: 500px) {
      .banner button {
        font-size: 18px; } }
  .banner #btn-resume {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: #E83B3F; }
    .banner #btn-resume:hover {
      background: #ffffff;
      border-color: #ffffff; }
  .banner #btn-contact {
    border: 3px solid #ffffff;
    background-color: transparent;
    color: #ffffff; }
    .banner #btn-contact:hover {
      background-color: #ffffff;
      color: #E83B3F; }

#blog {
  min-height: 600px;
  max-width: 800px; }
  #blog .blog-title {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #626262; }
    @media screen and (min-width: 500px) {
      #blog .blog-title {
        font-size: 18px; } }
  #blog .post {
    padding: 24px 0; }
    #blog .post img {
      max-width: 100%; }
    @media screen and (max-width: 768px) {
      #blog .post {
        padding: 24px 32px; } }

.footer {
  height: 100px;
  background-color: #E83B3F; }

.block {
  height: 100%;
  max-height: 900px; }
  @media screen and (max-width: 1100px) {
    .block {
      max-height: 700px; } }
  @media screen and (max-width: 768px) {
    .block {
      max-height: 600px; } }

.sheet {
  background-color: #ffffff;
  color: #191919;
  padding: 48px 0; }

.navbar-default {
  z-index: 1024;
  background-color: transparent;
  border-radius: 0;
  border-width: 0; }
  .navbar-default .navbar-nav li a {
    color: #ffffff;
    font-weight: 700;
    vertical-align: middle; }

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px; }

@media (min-width: 768px) {
  .nav {
    float: right !important; } }
