@import "tachyons-sass/tachyons.scss";

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .mid-gray, .mt4, .mb3, .lh-title;
  }

  .highlight {
    @extend .br2, .pa3, .highlight;
  }

  a {
    @extend .my-purple, .link, .underline-hover;
  }

  p > code {
    @extend .br2, .pa1;
    background-color: #eee;
    font-size: 12px;
  }

  code {
    font-size: 14px;
  }

  pre {
    @extend .mv0;
  }

  .highlight {
    overflow: scroll;
  }
}
