@import "tachyons-sass/tachyons.scss";

html {
  font-size: 16px;
}

body {
  @extend .sans-serif, .f5;
  //   font-size: 16px;
}

header,
main,
footer {
  @extend .mw7, .center, .ph3;
  line-height: 1.8;
}

p > a {
  @extend .link, .underline-hover, .fw7;
}

h1,
h2,
h3 {
  font-weight: 700;
}
