{% macro listing(title, link, entity, start_date, end_date, description, tags) %}
{# Create a listing which describes some entry in a job list, or education list,
   etcetera. If a listing has a start date, show a date range from that date
   to the present or the end date.  If a start or end date does not exist, they
   must be false, this is a limiation of the macro system. #}
<div class="listing">
    <div class="info">
        <header class="listing__header">
            {%- if start_date -%}
            <div class="listing__dates">
                <span class="listing__start-date">{{ start_date | date(format="%Y %b") }}</span>
                {% if end_date -%}
                <span class="listing__end-date">{{ end_date | date(format="%Y %b") }}</span>
                {% else %}
                present
                {%- endif -%}
            </div>
            {%- endif %}
            <div>
                <h2 class="listing__entity">{{ entity }}</h2>
                <h3 class="listing__title">{{ title }}</h3>
            </div>
            {%- if tags -%}
            <div class="listing__tags">{{ tags }}</div>
            {%- endif %}
        </header>
        <p class="listing__description">{{ description }}</p>
        <!-- {% if link -%}
            <a class="listing__link" href="{{ link }}">see more</a>
        {%- endif -%} -->
    </div>
</div>
{% endmacro %}
