a {
  background-color: #000;
  color: #fff;
  padding: 0 4px;
  transition: .20s;

  &.ExtraPadding {
    padding: 0 8px;
  }

  &:hover {
    color: #000;
    background-color: #fff;
    border-radius: 2px
  }
}
