extends ../template.pug

mixin section-header(title, subtitle)
  .section-header
    .text
      h1= title 
      h2= subtitle 
    hr

block append styles
  link(rel="stylesheet", href=`${locals.css}/index.css`)

block content
  include partials/header
  include partials/github
  include partials/involvement
