@import "tachyons-sass/scss/_variables.scss";

.tag {
  align-items: center;
  background-color: #275a90;
  border-radius: 4px;
  color: $white;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none !important;
  cursor: pointer;
  background-color: #28a745;
}
