<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set title = config.title %}
    {% set description = config.description %}

    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <meta name="author" content="Gwen Lofman">
    <meta name="description" content="{% block description %}{{ description }}{% endblock description %}">
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@gslfmn"/>

    <meta property="og:title" content="{% block og_title %}{{ title }}{% endblock og_title %}"/>
    <meta property="og:url" content="{{ get_url(path="/") }}"/>
    <meta property="og:description" content="{% block og_description %}{{ description }}{% endblock og_description %}"/>
    <meta property="og:image" content="{{ get_url(path="img/icon.png") }}"/>

    <script type="text/javascript" src="{{ get_url(path="/js/rot.js", trailing_slash=false) }}"></script>
</head>
<body>
    <main class="resume">
        {% block header %}
        <header class="header">
            <a class='title__link' href="{{ get_url(path="/") }}">
                <h1 id="name">Andrew Sosa</h1>
            </a>
        </header>
        {% endblock header %}
        {% import "macros/listing.html" as listing %}
        {% block content %}
        <section class="list list--education">
            <h2 class="list__heading">Education</h2>
            <ul class="list-container">
                {% set schools = get_section(path="education/_index.md") %}
                {% for school in schools.pages %}
                <li class="listing-container">
                    {{ listing::listing(
                        title = school.title,
                        link = false,
                        entity = school.extra.entity,
                        description = school.description,
                        start_date = school.extra.start_date,
                        end_date = school.extra.end_date,
                        tags = false) }}
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="list list--jobs">
            <h2 class="list__heading">Experience</h2>
            <ul class="list-container">
                {% set jobs = get_section(path="jobs/_index.md") %}
                {% for job in jobs.pages %}
                <li class="listing-container">
                    {{ listing::listing(
                        title = job.title,
                        link = job.permalink,
                        entity = job.extra.entity,
                        description = job.description,
                        start_date = job.extra.start_date,
                        end_date = job.extra.end_date,
                        tags = job.extra.tags) }}
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="list list--community">
            <h2 class="list__heading">Community</h2>
            <ul class="list-container">
                {% set community = get_section(path="community/_index.md") %}
                {% for cm in community.pages %}
                <li class="listing-container">
                    {% if cm.extra.external_link -%}
                        {%- set link = cm.extra.external_link -%}
                    {%- else -%}
                        {%- set link = cm.permalink -%}
                    {%- endif -%}
                    {{ listing::listing(
                        title = cm.title,
                        link = link,
                        entity = cm.extra.entity,
                        description = cm.description,
                        start_date = cm.extra.start_date,
                        end_date = cm.extra.end_date,
                        tags = cm.extra.tags) }}
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endblock content %}
    </main>
    {% import "macros/nav.html" as nav %}
    {% block footer %}
    <footer class="footer">
        {{ nav::nav(list_class="footer__link-list",
                    link_class="footer__link",
                    item_class="footer__item",
                    links=config.extra.footer_links) }}
    </footer>
    {% endblock footer %}
</body>
</html>
