doctype html
html(lang="en")
  head
    title="Andrew Sosa"
  body
    h1 Pug - node template engine
    #main.container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
