// index/github.sass

@import "bulma/sass/components/card"

section.repositories

    .column
        display: flex

        .card
            width: 100%

            .card-header
                justify-content: space-between
                max-width: 100%
                overflow: scroll

                &:hover
                    text-decoration: underline
