//- index/header.pug

section.section.header
  .container
    .title
      h1 Hi, I'm Andrew Sosa.
    .info
      .line Master's student studying Computer Science at Florida State University in Tallahassee, FL.
    ul.tags
      li Software Engineer
      li Student Leader
      li ACM President
      li HackFSU organizer
      li Startup Enthusiast
