//- index/design.pug

section.section#design
  .container
      
    +section-header('Design in Software', 'My best looking work.')
    
    .items.columns.is-desktop    
      each item in locals.design
        - image = `background-image: url('public/${item.image}');`
        .column.is-one-half
          .item
            .image(style=image)  
            .info
              h1= item.name
              p= item.desc
            
            
