//- index/header.pug

section.section#header
  .container
    .title
      h1 Hi, I'm Andrew Sosa.
    .info
      .line Master's student studying Computer Science at Florida State University in Tallahassee, FL.
    ul.tags
      li: a(href="http://github.com/andrewsosa") Software Engineer
      li: a(href="#involvement") Student Leader
      li: a(href="http://acmatfsu.org") fmr. ACM President
      li: a(href="http://hackfsu.com") HackFSU organizer
      li: a(href="http://www.domistation.com") Startup Enthusiast
